<div class="container__big-card">
  <div class="big-card__picture">
    <img src="https:/i.stack.imgur.com/luaq2.png"
    alt=""
    srcset=""
    height="200px"
    >
  </div>

  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>

  <div class="big-card__description">
    <p>
      Mussum Ipsum, cacilds vidis litro abertis. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.
    </p>
  </div>
</div>
