<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="{{ main?.id }}"
      photoCover="{{ main?.photoCover }}"
      cardTitle="{{ main?.title }}"
      cardDiscription="{{ main?.description }}"
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card *ngFor="let other of others;"
      Id="{{ other?.id }}"
      photoCover="{{ other?.photoCover }}"
      cardTitle="{{ other?.title }}"
    >
    </app-small-card>
  </div>
</div>
